
<div class="container">
    <!-- picture  -->
    <div>
        <img src="../../public/image/profile.jpeg" alt="Picture of a Boy" style="width: 200px;height: 200px;">

    </div>
    <div>
        <h2 class="text-center">Rohan Bin Delowar</h2>
        <p>I am a Software Engineering student. I really like to do all this tech related works, that's the main reason why I choose this Course. <br> In 2020, I did bunch of online courses and I learned Python, C++, C#, Javascript, and Java  </p>
    </div>
    <div>
        <h3>Here is my <a href="../../public/documents/Rohan_Bin_Delowar_resume.pdf " target="_blank">Resume</a></h3>
    </div>
</div>