<div class="container">
    <h3>My Contact Info:</h3>
    <label for="#Address">Address  :</label><p id="Address">3470 Bing Ave, Toronto, ON</p>
    <label for="email">   Email    : </label><p id="email" ><a href="mailto:rohanbin22@gmail.com">rohanbin22@gmail.com</a></p>
    <label for="call">    Phone    : </label><p id="call"><a href="tel:+4374297272 ">437-429-****</a></p>
    <label for="linkdine">linkdine :</label><p id="linkdine"><a href="www.linkedin.com/in/rohan-bin-delowar-3o12">Rohan Bin</a></p>

    <div>
        <form class="" action="/home">
          <h2 class="mb-3">Drop me a message: </h2><br>
          <input class="contact-form-input" type="text" id="contact-form-fname" name="fname" placeholder="First name"><br>
          <input class="contact-form-input" type="text" id="contact-form-lname" name="lname" placeholder="Last name"><br>
          <input class="contact-form-input" type="tel" id="contact-form-number" name="number" placeholder="Your contact number"><br>
          <input class="contact-form-input" type="email" id="contact-form-email" name="email" placeholder="Your email address"><br>
          <textarea class="contact-form-msg" id="contact-form-msg" name="message" placeholder="Your message..." ></textarea> <br>
          <input type="submit" value="Submit">
        </form>
      </div>
</div>