<main class="container">
    <div>
        <h1 class="text-center">WELCOME!! <br> I am Rohan</h1>
        <h2 class="text-center">Software Engineering student</h2>
        <h4 class="text-center"> This the Home Page of this site</h4>
    </div>
    <br><br>
    <div class="container">
        This site has 5 pages:
        <ol>
            <li>
                <a href="./home.ejs">Home Page</a>
            </li>
            <li>
                <a href="./about.ejs">Wanna know more About Me</a>
            </li>
            <li>
                <a href="./projects.ejs">Important Projects</a>
            </li>
            <li>
                <a href="./services.ejs">Services we Provide</a>
            </li>
            <li>
                <a href="./contact_me.ejs">Contact Me</a>
            </li>
        </ol>

    </div>

    <h2>Thank you For visiting My website</h2>
</main>