<div class="container">
   <u><i class="text-center"> My Projets</i></u>
   <div class="card" style="width:33%;">
    <img src="../../image/p1.png" alt="proImg" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">Rohan's Web</h4>
        <p class="card-text">This is simple project with html,css and jqurey. This project shows my portfolio. <br>click the button to visit my web</p>
        <a href="file:///C:/Users/user/OneDrive/Desktop/semester1/web%20design/html%20my%20work/web%20page/myweb/myweb.html" target="_blank">Rohan's Web</a>
    </div>
   </div>
   <div class="card" style="width: 33%">
    <img src="../../image/p2.png" alt="proImg" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">College Web</h4>
        <p class="card-text">This is simple project with html,css and jqurey. This project is for an college of anime. <br>click the button to visit my web</p>
        <a href="file:///C:/Users/user/OneDrive/Desktop/semester1/web%20design/html%20my%20work/web%20page/collage/COLLAGE.html" target="_blank">College Web</a>
    </div>
   </div>
   <div class="card" style="width: 33%;">
    <img src="../../image/p3.png" alt="proImg" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">College Web</h4>
        <p class="card-text">This is simple project with bootstrap <br>click the button to visit my web</p>
        <a href="file:///C:/Users/user/OneDrive/Desktop/semester1/web%20design/html%20my%20work/bootstrap.html#" target="_blank">College Web</a>
    </div>
   </div>
</div>