<div class="container">
    <h1 class="text-center">Services</h1>
    <h3>
         we Provide:
    </h3>
    <ul>
        <li>web design</li>
        <li>web development</li>
    </ul>
    <h3>Programming languages we teach:</h3>
    <ol>
        <li>Java</li>
        <li>C#</li>
        <li>C++</li>
        <li>Javascript</li>
        <li>PHP</li>
        <li>Python</li>
    </ol>
</div>